*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: gray;

}

#box {
	background-color: blue;
	padding: 10px 30px 10px 30px;
	border: 5px solid black;
	height: 50px;
	margin-top: 50px;
	width: 300px;
	overflow: auto;
	
}
#content {
	background-color: #90EE90; //green
}

h1 {
	margin-bottom: 30px;
}